<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ HTML_TITLE }}</title>
    </head>
    <body>
        <p>
            NAVIGATION: <a href="{{ app.url_generator.generate('homepage') }}">HOMEPAGE</a> | <a href="{{ app.url_generator.generate('monolog-test') }}">MONOLOG TEST</a> | <a href="{{ app.url_generator.generate('httpcache-test') }}">HTTP CACHE TEST</a> | <a href="{{ app.url_generator.generate('doctrine-test') }}">DOCTRINE TEST</a>
        </p>
        <br><br>
        <p>
            Hello Christian, DOCTRINE working?
        </p>
        <ul>
            {% for TEST_DATA in TEST_DATA %}
                <li>{{ TEST_DATA.name|e }} : {{ TEST_DATA.val|e }}</li>
            {% endfor %}
        </ul>
    </body>
</html>