<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ HTML_TITLE }}</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ _BASE_URL }}">HOMEPAGE</a></li>
            <li><a href="{{ _BASE_URL }}test/monolog">MONOLOG TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/httpcache">HTTP CACHE TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/doctrine">DOCTRINE TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/swiftmailer">SWIFTMAILER TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/redirect-1">REDIRECT TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/forwarding">FORWARD TEST</a></li>
            <li><a href="{{ _BASE_URL }}test/forms">FORMS TEST</a></li>
        </ul>
        <br><br>
        <p>
            Redirecting/Forwarding working?
        </p>
        <p>
            Jep :)
        </p>
    </body>
</html>